//color
@use 'partials/variables';
//btn
@use 'partials/mixins';
@import 'views/admin/editform.scss';
@import 'views/welcome.scss';
@import 'views/auth/register.scss';
@import 'views/auth/login.scss';
@import 'views/sidebar.scss';
@import 'views/admin/index.scss';
@import 'views/admin/create.scss';
@import 'views/admin/edit.scss';
@import 'views/admin/show.scss';
@import '~bootstrap/scss/bootstrap';



body {
    padding-bottom: 5rem;
    min-height: 100vh;

    background-color: lightgray;
}

.logo-header {
    max-width: 125px;
}