//color
@use 'partials/variables' as *;
//btn
@use 'partials/mixins';
@import 'views/admin/editform.scss';
@import 'views/welcome.scss';
@import 'views/auth/register.scss';
@import 'views/auth/login.scss';
@import 'views/sidebar.scss';
@import 'views/dashboard.scss';
@import 'views/admin/index.scss';
@import 'views/admin/create.scss';
@import 'views/admin/edit.scss';
@import 'views/admin/show.scss';
@import 'views/orders/orderindex.scss';
@import 'views/orders/orderedit.scss';
@import 'views/orders/ordershow.scss';
@import '~bootstrap/scss/bootstrap';



body {
    padding-bottom: 5rem;
    min-height: 100vh;
    background-image: url('../img/onda.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: lightgray;
}
#body-stats

.logo-header {
    max-width: 125px;
}
#torna_indietro {
    a{
        @include mixins.primary-btn;
        // background-color: $secondary-color;
        color: $secondary-color;
        font-size: 20px;
        border: 1px solid $secondary-color;
        text-decoration: none;
    }
    a:hover {
        @include mixins.btn-hover;
        border: 1px solid white;
    }
    a:active{
        @include mixins.btn-active;
    }
}

