//color
@use 'partials/variables';
//btn
@use 'partials/mixins';
@import 'views/welcome.scss';
@import '~bootstrap/scss/bootstrap';



.my-btn {

    width: 100px;
}

body {
    padding-bottom: 5rem;
    min-height: 100vh;

    background-color: lightgray;
}

.logo-header {
    max-width: 125px;
}