@use '../../partials/variables' as *;
@use '../../partials/mixins';

#edit_container {
    .container_general {
        background-color: white;
        padding: 30px;
        border-radius: 40px;
    }

    button {
        @include mixins.primary-btn;
        // background-color: $secondary-color;
        color: $secondary-color;
        font-size: 20px;
        border: 1px solid $secondary-color;
    }

    button:hover {
        @include mixins.btn-hover;
        border: 1px solid white;
    }

    button:active {
        @include mixins.btn-active;
    }
}
#torna_indietro {
    a{
        @include mixins.primary-btn;
        // background-color: $secondary-color;
        color: $secondary-color;
        font-size: 20px;
        border: 1px solid $secondary-color;
    }
    a:hover {
        @include mixins.btn-hover;
        border: 1px solid white;
    }
    a:active{
        @include mixins.btn-active;
    }
}
