@use '../../partials/variables' as *;
@use '../../partials/mixins';

#container_dish {
    h2 {
        color: $secondary-color;
        border-bottom: 2px solid $secondary-color;

    }
    .container_general {
        background-color: white;
        border: 2px solid rgba($color: $secondary-color, $alpha: 1.0);

        th {
            border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.5);
            padding: 5px;
        }

        td {
            border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.5);
            padding: 5px;
        }
    }
}
