@use '../../partials/variables' as *;
@use '../../partials/mixins';

#container_index {
    .container_general {
        border-radius: 40px;
        background-color: white;
        padding: 20px;
        border: 2px solid rgba($color: $secondary-color, $alpha: 1.0);

        th {
            border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.5);
            padding: 5px;
        }

        td {
            border-bottom: 1px solid rgba($color: $secondary-color, $alpha: 0.5);
            padding: 5px;
        }
    }
}