@use '../../partials/variables' as *;
@use '../../partials/mixins';

#container_order_edit {
    background-color: white;
    padding: 20px;
    border: 2px solid rgba($color: $secondary-color, $alpha: 1.0);
    button {
        @include mixins.primary-btn;
        color: $secondary-color;
        font-size: 20px;
        border: 1px solid $secondary-color;
    }

    button:hover {
        @include mixins.btn-hover;
        border: 1px solid white;
    }

    button:active {
        @include mixins.btn-active;
    }
}
