@use '../../partials/variables' as *;
@use '../../partials/mixins';

#container_order_edit {

    button {
        @include mixins.primary-btn;
        // background-color: $secondary-color;
        color: $secondary-color;
        font-size: 20px;
        border: 1px solid $secondary-color;
    }

    button:hover {
        @include mixins.btn-hover;
        border: 1px solid white;
    }

    button:active {
        @include mixins.btn-active;
    }
}
