@use '../partials/variables' as *;
@use '../partials/mixins';

#container_sidebar {
    .general_container {
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba($color: $secondary-color, $alpha: 1.0);
    }


    a:hover {
        background-color: rgba($color: $secondary-color, $alpha: 1.0);
        color: white;

    }

    a:hover span {

        color: white;
    }

    .active {
        background-color: rgba($color: $secondary-color, $alpha: 1.0);
    }
}